
html {
  scroll-behavior: smooth;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  justify-items: start;
  align-items: center;
  padding: 92px 50px 95px 50px;
}

.header_menu {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
}

.header_links-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header_links-list-item {
  line-height: 100%;
  list-style-position: inside;
  list-style-type: circle;
}


.header_links-list-item a {
  color: black;
  line-height: 1;
  text-decoration-thickness: 0.8px;
  text-underline-offset: 3px;
}

.header_link_active {
  text-decoration: none;
}

.header_links-list-item_no-bullit {
  list-style-type: none;
}

.header_logo {
  display: block;
  width: 148px;
  height: 105px;
  padding-top: 1px;
  padding-right: 9.8px;
  padding-bottom: 0.8px;
  padding-left: 8px;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 240px;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
}

.header_address {
 justify-self: start;
 margin-left: 184px;
}

.address a {
  color: black;
  text-decoration-thickness: 0.8px;
  text-underline-offset: 3px;
}

.main {
  position: relative;
}

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  box-sizing: border-box;
  width: 100%;
  min-height: 757px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 50px 0 50px;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.60);
}

.cover .cover_title,
.cover .description,
.cover .bet-button {
  position: relative;
  z-index: 2;
  color: white;
}

.cover_title {
  display: block;
  width: 100%;
  padding-top: 165px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 100px;
  text-transform: uppercase;
}

.letter_spacing_extended {
  display: block;
  letter-spacing: 0.3em;
}

.aligned_text_left {
  display: block;
  line-height: 115%;
  text-align: left;
}

.aligned_text_center {
  display: block;
  padding-left: 0.3em;
  line-height: 160%;
  text-align: center;
}

.aligned_text_right {
  display: block;
  margin-right: -0.3em;
  line-height: 110%;
  text-align: right;
}


.description {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  margin:0;
  padding-bottom: 45px;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18.8px;
}

.cover_description-text {
  max-width: 1000px;
}

.bet-button {
  display: inline-flex;
  border: 1px solid white;
  padding: 12px 32px 11px 31px;
  font: inherit;
  text-transform: uppercase;
  background: transparent;
}

.lots {
  margin-top: 178px;
  margin-right: 24px;
  margin-left: 24px;
}

.lots_heading {
  margin-top: 0;
  margin-bottom: 29px;
  margin-left: 40px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.lots_card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  width: 100%;
  margin-top: 0;
  padding: 0;
  list-style-type: none;
}

.lots_card-list-item {
  display: flex;
  flex: 1 1 334px;
  min-height: 596px;
  background-position: center;
  background-size: cover;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 48px 40px;
}

.card-link {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  color: white;
  text-decoration: none;
}

.card_title {
  position: relative;
  z-index: 2;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-decoration-thickness: 0.8px;
  text-underline-offset: 4px;
  text-transform: uppercase;
}

.card_text {
  position: relative;
  z-index: 2;
  margin: 0;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;

}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots_look-more-link {
  display: block;
  margin-top: 30px;
  margin-left: 40px;
  color: black;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: 20px;
  text-decoration-thickness: 0.8px;
  text-underline-offset: 6px;
}

.about {
  display: grid;
  grid-template-columns: 359px auto;
  margin-top: 120px;
  margin-right: 24px;
  margin-left: 24px;
}

.about_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin-top: 35px;
  margin-left: 47px;
  border-radius: 50%;
  background-color: black;
}

.about_logo-image {
  width: 148px;
  height: 144px;
}

.about_title {
  margin-top: 136px;
  margin-bottom: 0px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.about_text {
  width: 100%;
  margin-top: 100px;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
}

.about_text p{
  margin-bottom: 24px;
}

.about_text p:last-child{
  margin-bottom: 0;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  margin-top: 181px;
  margin-right: 50px;
  margin-bottom: 82px;
  margin-left: 50px;
}

.footer_address {
  justify-content: end;
}

.footer_menu {
  justify-self: center;
}

.footer_menu-list {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}

.footer_menu-list-item {
 color: black;
 font-family: 'Raleway', sans-serif;
 font-weight: normal;
 font-size: 18px;
 list-style: none;
}

.footer_menu-link {
  color: black;
  text-decoration-thickness: 0.8px;
  text-underline-offset: 4px;
}

.footer_menu-link_active {
  text-decoration: none;
}

.footer_social-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 48px;
  margin: 0;
  padding:0 ;
  list-style: none;
}

.footer_social-list-item {
  width: 48px;
  height: 48px;
}
